html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  padding: 5px 20px;
  font-family: 'Hiragino Maru Gothic Pro','ヒラギノ丸ゴ Pro W4', sans-serif;
  background-image: url("https://d1f5hsy4d47upe.cloudfront.net/45/453c7e482643f058f3258bdf4e9fdd3c_w.jpeg");
  background-size: cover;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container{
  padding:260px 200px;
  text-align: center;
}

.container h4{
  color: #fff;
  margin-top: 50px;
  margin-bottom: 130px;
  padding: 20px;
  font-size: 22px;
  background: #FEA993;
  border: 2px dashed #F7F9CC;
  border-radius: 10px;
  box-shadow: 0 0 0 7px #FEA993;

}

.container p{
  padding-top: 30px;

}
