<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <!--  CSS -->
    <link rel="stylesheet" href="static/style.css">
   <!--<link rel="stylesheet" href="{{url_for('static',filename = 'style.css')}}">-->
 </head>
  <body>
    <h3 class="text-muted">Materials</h3>
    <h class="text-muted">商品名/店舗名/価格/在庫</h>
    <ul>
      {% for list in message %}
        <li>{{list}}</li>
      {% endfor %}
      </ul>

  </body>
</html>